*{font-family:'Courier New', Courier, monospace;}
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100vw;
    height: 100vh;
}

canvas { 
    display: block; 
    width: 100%;
    height: 100%;
}

#Transition, #interaction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/*/Locker/*/

.locker {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.locker-container {
    width: auto;
    aspect-ratio: 1 / 1.8;
    height: 80vh;
    background: url("imgs/locker.jpg") center/contain no-repeat;
    position: relative;
}

#boots {
    position: absolute;
    width: 15%;
    aspect-ratio: 1;
    top: 50%;
    left: -50%;
    cursor: grab;
}

#slot {
    width: 15%;
    aspect-ratio: 1;
    position: absolute;
    top: 75%;
    left: 75%;
    border: 2px dashed white;
}

/*/Text Alerts/*/

#alert {
    transition: opacity 0.3s ease;
    opacity: 0;
}

/*/Sleep game/*/

.sleep-game-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid #fff;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.sleep-prompt {
    font-size: 30px;
    margin-bottom: 10px;
}

.sleep-message {
    font-size: 18px;
    color: yellow;
}

#sleepGameTimerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 20px;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    z-index: 1000;
}

#sleepGameTimeBar {
    width: 100%;
    height: 100%;
    background-color: #62da3d;
    transition: width 0.1s linear;
}

/*/Presentation/*/

.presentation-game-ui{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.presentation-score{
    position: relative;
    align-self: end;
    width: 50%;
    height: 50px;
    background: rgba(128, 128, 128, 0.37);
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentation-score h2{
    margin-left: 5%;
    color: white;
}
.presentation-score p{
    justify-self: end;
    margin-right: 5%;
    color: white;
    font-weight: bold;
}
.presentation-words{
    position: absolute;
    width: 80%;
    height: 80%;
}
.presentation-word{
    position: relative;
    width: auto;
    height: auto;
    padding: 1px;
    background-color: #3333336c;
}

.my-input{
    margin-bottom: 65px;
    position: absolute;
    border-radius: 20px;
    width: 25%;
    border: rgb(255, 255, 255) 1px solid;
    background: rgba(128, 128, 128, 0.568);
    font-size: large;
    color: white;
    text-align: center;
}

.my-input::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 1;
}

.presWord{
    color: white;
    font-size: large;
    text-align: center;
    position: absolute;
    background: rgba(128, 128, 128, 0.623);
    border-radius: 25px;
    border: solid 1px white;
    padding: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

.presWordTimer{
    margin-right: -5px;
    position: absolute;
    z-index: -1;
    background: rgb(7, 218, 7);
    width: 100%;
    height: 100%;
}

/*/Vending/*/

#vending-ui {
    position: fixed;
    max-width: 50%;
    max-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #333;
    padding: 30px;
    border: 5px solid #5cb85c;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    color: white;
}

#vending-score{
    width: 25%;
    align-self: start;
    padding: 0px 5px;
}

#vending-container {
    width: 50%;
    display: grid;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,auto);
}

#vending-info-container{
    font-size: small;
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.vending-button {
    aspect-ratio: 1 / 1;
    width: 20%;
    height: auto;
    background-color: #444;
    border: 2px solid #555;
    cursor: pointer;
    transition: background-color 0.1s;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

.vending-button.lit {
    background-color: #5cb85c; 
}

.vending-button.correct {
    background-color: #007bff;
}

.vending-button.incorrect {
    background-color: #dc3545;
}

.vending-button:disabled {
    cursor: not-allowed;
}

/*/Tahoot/*/

#tahoot-ui {
    height: 50vh;
    position: absolute;
    width: 80vw;
    justify-content: center;
    align-items: center;
}


#tahoot-display {
    border: 3px solid rgb(59, 0, 83);
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #5b048e;
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    text-align: center;
}

#tahoot-logo {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

#tahoot-input-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #e3e3e3;
    padding: 20px;
    border-radius: 15px;
}

#tahoot-input-text {
    font-size: 22px;
    margin-bottom: 10px;
}

#tahoot-input::placeholder { 
    color: rgb(0, 0, 0);
    opacity: 1;
}

#tahoot-input {
    text-align: center  ;
    width: 100%;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tahoot-input-submit {
    width: 120px;
    height: 45px;
    background: #1c1c1c;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

#tahoot-input-submit:hover {
    background: #363636;
}

#tahoot-game-display {
    flex-direction: column;
    width: 80%;
    height: 70%;
    background: rgb(34, 2, 69);
    padding: 20px;
    border-radius: 15px;
}

#tahoot-question{
    color: white;
}

#tahoot-answers{
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.tahoot-answer{
    width: 48%;
    height: 48%;
    border-radius: 15px;
    border: 2px rgb(66, 7, 103) solid;
    text-align: center;
    font-size: medium;
}

#tahoot-score{
    color: white;
}

#tahoot-streak{
    color: white;
}

.scoreHolder{
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}