body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100vw;
    height: 100vh;
}

canvas { 
    display: block; 
    width: 100%;
    height: 100%;
}

#Transition, #interaction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.locker {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.locker-container {
    width: 50vw;
    aspect-ratio: 1 / 1.8;
    height: auto;
    background: url("imgs/locker.jpg") center/contain no-repeat;
    position: relative;
}

#boots {
    position: absolute;
    width: 15%;
    aspect-ratio: 1;
    top: 50%;
    left: 5%;
    cursor: grab;
}

#slot {
    width: 15%;
    aspect-ratio: 1;
    position: absolute;
    top: 75%;
    left: 75%;
    border: 2px dashed white;
}

#alert {
    transition: opacity 0.3s ease;
    opacity: 0;
}