body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100vw;
    height: 100vh;
}

canvas { 
    display: block; 
    width: 100%;
    height: 100%;
}

#Transition, #interaction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.locker {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.locker-container {
    width: auto;
    aspect-ratio: 1 / 1.8;
    height: 80vh;
    background: url("imgs/locker.jpg") center/contain no-repeat;
    position: relative;
}

#boots {
    position: absolute;
    width: 15%;
    aspect-ratio: 1;
    top: 50%;
    left: -50%;
    cursor: grab;
}

#slot {
    width: 15%;
    aspect-ratio: 1;
    position: absolute;
    top: 75%;
    left: 75%;
    border: 2px dashed white;
}

#alert {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.sleep-game-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid #fff;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.sleep-prompt {
    font-size: 30px;
    margin-bottom: 10px;
}

.sleep-message {
    font-size: 18px;
    color: yellow;
}

#sleepGameTimerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 20px;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    z-index: 1000;
}

#sleepGameTimeBar {
    width: 100%;
    height: 100%;
    background-color: #62da3d;
    transition: width 0.1s linear;
}